---
layout: page
permalink: /tags/
---

{% for tag in site.tags %}
	<a style="font-size: {{ tag | last | size | times: 150 | divided_by: site.tags.size | plus: 70  }}%" href="{{ site.baseurl }}/tags/#{{ tag | first | slugize }}">
	&raquo;{{ tag | first }}
	</a>
{% endfor %}


<!--
<ul class="tag-cloud">
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>
-->

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <a name="{{ tag_name | slugize }}"></a>
    <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <a href="{{site.baseurl}}{{ root_url }}{{ post.url }}">{{post.title}}</a>
       &raquo; {{ post.date | date_to_string }}
     
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>