<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">

    {% include sidebar.html %}

    <div class="content container">

      <!-- added by bob -->
      <div class="masthead-title">
	      <h3 class="post-title">
	      <span style="font-size:24px;">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
		  </span>
		  
          {% for page in site.pages_list %}
              <span style="font-size:medium;">
              &nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ page[1]  }}">{{ page[0] }}</a>
              </span>
              
              <!-- &nbsp;&nbsp;&nbsp;<small><a href="{{ site.baseurl }}{{ page[1]  }}">{{ page[0] }}</a></small> -->
          {% endfor %}
</h3>

		<hr style="background:#202020; border:0; height:3px" />
		
      </div>

      {{ content }}
    </div>

  </body>
</html>
